/* //links// */
a:link{
    color:green;
    background-color: transparent;
    text-decoration: none;
}
a:visited{
    color:pink;
    background-color: transparent;
    text-decoration: none;
}
a:hover{
    color:red;
    background-color: transparent;
    text-decoration: underline;
}
a:active{
    color:yellow;
    background-color: transparent;
    text-decoration: underline;
}

/* button link */
.buttonl:link,.buttonl:visited{
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    text-align:center;
    text-decoration: none;
    display:inline-block;
}
.buttonl:hover,.buttonl:active{
    background-color: red;
}